<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta charset="utf-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible">

<title>{{.Title}}</title>

<script src="{{.RelativeSrcRootPath}}/js/jquery.min.js"></script>
{{if .Tocify}}
<script src="{{.RelativeSrcRootPath}}/js/jquery-ui-1.9.1.custom.min.js"></script>
<script src="{{.RelativeSrcRootPath}}/js/jquery.tocify.js"></script>
<link type="text/css" rel="stylesheet" href="{{.RelativeSrcRootPath}}/css/jquery.tocify.css" />
{{end}}
<link type="text/css" rel="stylesheet" href="{{.RelativeSrcRootPath}}/css/bootstrap.min.css" />
<script src="{{.RelativeSrcRootPath}}/js/bootstrap.min.js"></script>
{{if .Anchorjs}}
<script src="{{.RelativeSrcRootPath}}/js/anchor.min.js"></script>
{{end}}
<link rel="icon" href="{{.RelativeSrcRootPath}}/images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="{{.RelativeSrcRootPath}}/css/style.css" type="text/css" />

{{if .Timeline}}
<!-- timeline related css begin -->
<link rel="stylesheet" href="{{.RelativeSrcRootPath}}/css/timeliner.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{.RelativeSrcRootPath}}/css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{.RelativeSrcRootPath}}/css/colorbox.css" type="text/css" media="screen">
<!-- timeline related css end -->
{{end}}

 <style type="text/css">code{white-space: pre;}</style>
  <style type="text/css">
div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; background-color: #dddddd; }
td.sourceCode { padding-left: 5px; }
code > span.kw { font-weight: bold; } /* Keyword */
code > span.dt { color: #800000; } /* DataType */
code > span.dv { color: #0000ff; } /* DecVal */
code > span.bn { color: #0000ff; } /* BaseN */
code > span.fl { color: #800080; } /* Float */
code > span.ch { color: #ff00ff; } /* Char */
code > span.st { color: #dd0000; } /* String */
code > span.co { color: #808080; font-style: italic; } /* Comment */
code > span.al { color: #00ff00; font-weight: bold; } /* Alert */
code > span.fu { color: #000080; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #ff0000; font-weight: bold; } /* Warning */
code > span.cn { color: #000000; } /* Constant */
code > span.sc { color: #ff00ff; } /* SpecialChar */
code > span.vs { color: #dd0000; } /* VerbatimString */
code > span.ss { color: #dd0000; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { } /* Variable */
code > span.cf { } /* ControlFlow */
code > span.op { } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { font-weight: bold; } /* Preprocessor */
code > span.at { } /* Attribute */
code > span.do { color: #808080; font-style: italic; } /* Documentation */
code > span.an { color: #808080; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #808080; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #808080; font-weight: bold; font-style: italic; } /* Information */
  </style>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->

</head>
<body>

<div id="toc"></div>

<!-- menu begins -->
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{.SiteURL}}">{{.SiteBrandTitle}}</a>
    </div>
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{.RelativeSrcRootPath}}/posts.html">Posts</a></li>
<!--         <li><a href="{{.RelativeSrcRootPath}}/feeds.html">Feeds</a></li> -->
        <li><a href="{{.RelativeSrcRootPath}}/about.html">About</a></li>
<!--         <li><a href="#">Tags</a></li> -->
<!--         <li><a href="#">Recent Changes</a></li> -->
      </ul>
        
      <!--
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Preferences</a></li>
      </ul>
      -->

      <!--<div id="right">
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
      </div>
    </div>--><!-- /.navbar-collapse -->
  </nav>



  <div id="headerContainer">
    <header class="header">
    {{.TitleNAV}}
    <a href="#">{{.Title}}</a>
    </header>
  </div>

  {{.SeriesNAV}}

  <div class="article">
    {{.Body}}
  </div>
</div>
<div id="scrollUp">
<span id="scrollUpBtn" class="glyphiconLink glyphicon glyphicon-chevron-up" aria-hidden="true" title="scroll up"></span>
</div>
<script language="javascript">
$("#scrollUpBtn").click(function() {
  $("html, body").animate({ scrollTop: 0 }, "slow");
  return false;
});
</script>

{{if .Anchorjs}}
<script language="javascript">
window.onload = function(e){ 
  anchors.add('h1')
  anchors.add('h2')
  anchors.add('h3')
  anchors.add('h4')
  anchors.add('h5')
}
</script>
{{end}}
{{if .Timeline}}
<!-- timeline related js begin -->
<script type="text/javascript" src="js/colorbox.js"></script>
<script type="text/javascript" src="js/timeliner.js"></script>
<script language="javascript">
  $(document).ready(function() {
    $.timeliner({
      //startOpen:['#19550828', '#19630828'],
    });
    $.timeliner({
      timelineContainer: '#timeline-js',
      timelineSectionMarker: '.milestone',
      oneOpen: true,
      startState: 'flat',
      expandAllText: '+ Show All',
      collapseAllText: '- Hide All'
    });
    // Colorbox Modal
    $(".CBmodal").colorbox({inline:true, initialWidth:100, maxWidth:682, initialHeight:100, transition:"elastic",speed:10});
  });
</script>
<!-- timeline related js end -->
{{end}}

{{if .Tocify}}
<script language="javascript">
$(document).ready(function() {
  //Calls the tocify method on your HTML div.
  $("#toc").tocify();
});
$("#toc").hover(function() { 
  $("#toc").css("z-index", "111")  
}, function() { 
  $("#toc").css("z-index", "1")  
});
</script>       
{{end}}

</body>
</html>